body{
    background-image: linear-gradient(to bottom, #4CAF50, #4CAF);
    min-height: 710px;
    width: auto;
}
header{
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Algerian;
    font-size: 30px;
}

footer{
    text-align: center;
    font-family: Castellar;
    margin-top: 50px;
    padding-top: 10px;

}


#tasks-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

#tasks-table td, #tasks-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tasks-table tr:nth-child(even){background-color: #f2f2f2;}

#tasks-table tr:hover {background-color: #ddd;}

#tasks-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
